$btn-height : 45px;

.btn {
  display: inline-block;
  padding: 0;
  border: none;
  width: 100%;
  height: rem($btn-height);
  background-color: $button;
  border-radius: rem($btn-height /2);
  line-height: rem($btn-height);
  text-align: center;
  font-size: rem(16px);
  color: #fff;
  cursor: pointer;
  box-shadow: none;
  @include user-select(none);
  @include transition(background-color .25s ease-in-out);

  &:focus,
  &:link,
  &:visited,
  &:hover,
  &:active {
    background-color: $button;
    box-shadow: none;
    color: #fff;
  }

  &:active {
    background-color: darken($button, 4%);
  }

  &.disabled {
    opacity: 1;
    background-color: $button-disable;
    color: rgba(255, 255, 255, .6);
  }
}

.btn[disabled] {
  opacity: 1;
  background-color: $button-disable;
  pointer-events: none;
  color: rgba(255, 255, 255, .6);
}

@mixin btnColorBuild($name, $color, $textColor:#ffffff) {
  .btn.btn-#{$name} {
    background-color: $color;
    color: $textColor;

    &:focus,
    &:link,
    &:visited,
    &:hover,
    &:active {
      background-color: $color;
      box-shadow: none;
      color: $textColor;
    }

    &:active {
      background-color: darken($color, 4%);
    }

    &.disabled {
      background-color: lighten($color, 4%);
      color: rgba($textColor, .6);
    }

    &[disabled] {
      background-color: lighten($color, 4%);
      pointer-events: none;
      color: rgba($textColor, .6);
    }
  }
}

@include btnColorBuild('cyan', $cyan);
@include btnColorBuild('red', $red);
@include btnColorBuild('green', $green);
