.uib-datepicker-popup {
  display: block;
  float: none;
  padding: rem(10px);
  background-color: #fff;
  user-select: none;

  .uib-left,
  .uib-right,
  .uib-title {
    border-radius: 0;
    height: rem(25px);
    line-height: rem(25px);
    font-size: rem(13px);
    color: $text-color-obvious;
    background-color: transparent;
  }

  .uib-left {
    background: url(~assets/panels/icon-arrow-left.png) center center no-repeat;
  }

  .uib-right {
    background: url(~assets/panels/icon-arrow-right.png) center center no-repeat;
  }

  .uib-daypicker {
    > thead {
      small {
        font-size: rem(10px);
      }
    }
  }

  .uib-day,
  .uib-month,
  .uib-year {
    > button {
      width: rem(25px);
      height: rem(25px);
      line-height: rem(25px);
      font-size: rem(10px);
      color: $text-color-obvious;
      background-color: transparent;

      &[disabled] {
        color: $text-color-mute;
      }
    }
  }

  .btn-info {
    &.active {
      color: #fff;
      background-color: $cyan;
    }
  }

  .uib-month {
    .btn {
      width: rem(30px);
      height: rem(30px);
      line-height: rem(30px);
    }
  }
}