/**
 * Layouts
 */

@each $option in $gutter-width {
  $name   : nth($option, 1);
  $gutter : nth($option, 2);

  /**
   * Margin Style
   */

  .m-t-#{$name} {
    margin-top: rem($gutter / 2) !important;
  }

  .m-r-#{$name} {
    margin-right: rem($gutter / 2) !important;
  }

  .m-b-#{$name} {
    margin-bottom: rem($gutter / 2) !important;
  }

  .m-l-#{$name} {
    margin-left: rem($gutter / 2) !important;
  }


  .m-t-d-#{$name} {
    margin-top: rem($gutter) !important;
  }

  .m-r-d-#{$name} {
    margin-right: rem($gutter) !important;
  }

  .m-b-d-#{$name} {
    margin-bottom: rem($gutter) !important;
  }

  .m-l-d-#{$name} {
    margin-left: rem($gutter) !important;
  }


  /**
   * Padding Style
   */

  .p-t-#{$name} {
    padding-top: rem($gutter / 2) !important;
  }

  .p-r-#{$name} {
    padding-right: rem($gutter / 2) !important;
  }

  .p-b-#{$name} {
    padding-bottom: rem($gutter / 2) !important;
  }

  .p-l-#{$name} {
    padding-left: rem($gutter / 2) !important;
  }


  .p-t-d-#{$name} {
    padding-top: rem($gutter) !important;
  }

  .p-r-d-#{$name} {
    padding-right: rem($gutter) !important;
  }

  .p-b-d-#{$name} {
    padding-bottom: rem($gutter) !important;
  }

  .p-l-d-#{$name} {
    padding-left: rem($gutter) !important;
  }
}


/**
 * Border
 */

.b-t {
  border-top: 1px solid $border-color-normal !important;
}

.b-r {
  border-right: 1px solid $border-color-normal !important;
}

.b-b {
  border-bottom: 1px solid $border-color-normal !important;
}

.b-l {
  border-left: 1px solid $border-color-normal !important;
}


/**
 * Floats
 */

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}


/**
 * Sizes
 */

.w-a {
  width: auto !important;
}


/**
 * Text
 */

.text-center {
  text-align: center !important;
}

.text-green {
  color: $green !important;
}

.text-mute {
  color: $text-color-mute !important;
}

.text-obvious {
  color: $text-color-obvious !important;
}

.text-cyan {
  color: $text-color-cyan !important;
}

.text-red {
  color: $red !important;
}

/**
 * Normals
 */

.blk-divide {
  border-bottom: 4px solid #efefef !important;
}
